@import '../shared/variables';

.header-container {
  height: 50px;
  overflow: hidden;
  background-color: $purple;
  position: absolute;
  width: 100%;

  .logo {
    display: flex;
    height: 100%;
    justify-content: flex-end;

    img {
      height: 100%;
      padding: 6px;
    }
  }
}
