@import '../shared/variables';

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 400px;

    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      img {
        height: 244px;
      }
    }

    .user-input-wrapper {
      .user-input {
        .mat-form-field {
          width: 100%;
        }
      }

      button {
        width: 100%;
      }
    }

    .allow-use-container {
      font-size: 14px;
      text-align: center;
      margin-top: 12px;
    }
  }
}
