<div class="home-container">
  <div class="wrapper">
    <div class="logo">
    </div>
    <div class="user-input-wrapper">
      {{userName$ | async }}
      <div class="user-input">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [(ngModel)]="userName" name="username">
          </mat-form-field>
        </form>
      </div>
      <button mat-raised-button color="primary">Try It!</button>
      <div class="allow-use-container">
        *by selecting "Try It!", you consent to have the data used for research purposes only
      </div>
    </div>

  </div>
</div>
